* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff9f3;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none !important;
  color: black;
}

a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: none !important;
  cursor: auto;
}
